.call {
  padding: 40px 30px;
  background: $secondary-color;
  border-radius: 5px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
  background-image: url('/images/call.svg');
  background-position: 100% 100%;
  background-position: calc(100% - 13px) 100%;
  background-repeat: no-repeat;

  &__title {
    margin-bottom: 23px;
    line-height: 1.1;
  }

  &__textarea {
    min-height: 140px;
    resize: none;
  }

  &__action {
    display: flex;
    align-items: center;
  }

  &__help {
    margin-left: 20px;
  }

  &_modal {
    padding: 20px;
  }

  &_modal .column {
    width: 100%;
  }

  &_modal &__action {
    display: block;
  }

  &_modal &__help {
    margin: 20px 0 0 0;
  }

  @include breakpoint (medium down) {
    padding: 30px;

    &__action {
      display: block;
    }

    &__help {
      margin: 20px 0 0 0;
    }
  }

  @include breakpoint (small only) {
    padding: 15px;

    &__button {
      width: 100%;
      padding: 1.5em 1em;
    }
  }
}
