.card {
  margin-bottom: 20px;
  font-weight: normal;

  &:hover {
    color: inherit;
  }

  &_row {
    display: flex;
    flex-direction: row;
  }

  &_detail {
    flex-wrap: wrap;
  }

  &__image {
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

  &__image_row {
    min-height: 250px;
  }

  &__image_260 {
    height: 225px;
  }

  &__image_195 {
    height: 195px;
  }

  &__image_250 {
    width: 250px;
  }

  &__body {
    position: relative;
    padding: 20px;
    line-height: 1.16;
    background-position: 100% 100%;
    background-repeat: no-repeat;
  }

  &__body_large {
    padding: 30px 35px;
    background-size: 235px;
  }

  &__body_master {
    background-image: url("/images/master.svg");
  }

  &__body_discount {
    background-image: url("/images/discount.svg");
  }

  &__left-border {
    position: absolute;
    top: 0;
    left: -23px;
    height: 100%;
  }

  &__top-border {
    position: absolute;
    width: 100%;
    top: -18px;
    left: 0;
  }

  &__header {
    line-height: 1.16;
    font-weight: 700;
    font-size: 24px;
  }

  &__small {
    margin-top: 18px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  &__footer_expanded {
    margin-top: 62px;
  }

  &_row &__footer {
    margin-top: 23px;
  }

  &__stars {
    margin: 0 -5px;
  }

  &__stars-item {
    display: inline-block !important;
    vertical-align: top;
    margin: 0 5px;
  }

  @include breakpoint(small only) {
    &_row {
      flex-wrap: wrap;
    }

    &_row &__image {
      width: 100%;
      min-height: 190px;
    }

    &__body_large {
      padding: 10px;
    }

    .button {
      width: 100%;
      padding: 1em;
    }
  }
}
