.section {
  padding: 30px 0;
  background-repeat: no-repeat;
  background-position: 50%;

  &_plain {
    padding-top: 0;
  }

  &_plain-bottom {
    padding-bottom: 0;
  }

  &__header {
    margin-bottom: 30px;
  }

  &__title {
    margin-right: 20px;
  }

  // &__line {
  //   margin-left: 20px;
  // }

  &_bg-top {
    background-image: url("/images/circle_left.png");
    background-position: 0 30px;
  }

  &_circles {
    background-image: url("/images/circle_left.png"), url("/images/circle_right.png");
    background-position: 0 5%, 100% 95%;
  }

  &_description {
    background-image: url("/images/description.jpg");
    background-size: cover;
  }

  &_advantages {
    background-image: url("/images/advantages.jpg");
    background-size: cover;
  }

  &_about {
    background-image: url("/images/about.jpg");
    background-size: cover;
  }

  @include breakpoint(small only) {
    &_description {
      background: $secondary-color;
    }

    &_advantages {
      background-image: url("/images/advantages_small.jpg");
    }

    &_circles {
      background-image: none;
    }

    &_about {
      background: $secondary-color;
    }
  }
}
