- var stars = [1,2,3,4,5]

a.card(href="/master.html")
  .card__image.card__image_260(style="background-image: url(/images/man.jpg)")
  .card__body.card__body_master
    header.card__header Константин Константинопольский
    .card__small Авто механик
    .card__footer
      .card__stars
        each star in stars
          img.card__stars-item(src="/images/star.svg")
      .card__footer-right
        | Стаж:
        strong  15 лет
