header.section__header
  h2
    span.section__title Наши мастера
    span.u-inline.u-line.section__line
- var masters = [1,2,3,4,5]
.row
  ul.no-bullet.carousel.js-carousel(data-slick='{"slidesToShow": 3, "slidesToScroll": 3,"responsive": [ { "breakpoint": 1024, "settings": { "slidesToShow": 2, "slidesToScroll": 2 } }, { "breakpoint": 640, "settings": { "slidesToShow": 1, "slidesToScroll": 1 } } ]}')
    each master in masters
      li.large-4.columns.end
        include master
  .carousel__buttons.js-carousel-buttons.columns
    button.carousel__button.js-carousel-prev-button
      img(src="/images/arrow_left.svg")
    button.carousel__button.js-carousel-next-button
      img(src="/images/arrow_right.svg")
    a.carousel__link.link(href="/masters.html")
      | Все мастера
      span.link__icon
        svg(width="18px", height="14px")
          use(xlink:href="#icon-arrow")
