script(src="/vendors/jquery/dist/jquery.min.js")
script(src="/vendors/slick-carousel/slick/slick.min.js")
script(src="/vendors/fontfaceobserver/fontfaceobserver.js")
script(src="/scripts/app.js")
script(src="/scripts/map.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZgqY43Ut_ZGG4wIpVeRH2Bh4JFPzDN1c&callback=initMap")
